:root {
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-text-color: #2E2F42;
--secondary-text-color: #434455;
--white-color: #FFFFFF;
--third-text-color: #4D5AE5;
--primary-background-color: #F4F4FD;
--accent-color: #404BBF;   
}

/*----------FONT STYLE-----------*/

body {
color: var(--secondary-text-color);
background-color: var(--white-color);
font-family: var(--primary-font);
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}

/*----------LOGO-----------*/

.header-logo {
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
}

.studio-logo-header {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
}

/*----------HEADER-----------*/

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;   
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.heder-address {
font-style: normal;
}

.header-address-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

.header-address-link:hover,
.header-address-link:focus {
color: var(--accent-color);

}

/*----------HERO-----------*/

.hero {
background-color: var(--primary-text-color);
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-color);
}

.hero-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--white-color);
background-color: var(--third-text-color);
cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
color: var(--white-color);
background-color: var(--accent-color);
}


/*----------SECTION ADVANTAGES-----------*/

.subtitle-text {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.basic-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

/*----------SECTION SERVICES-----------*/

.services-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
}

/*----------SECTION TEAM-----------*/
.section-team {
background-color: var(--primary-background-color);
}

.our-team-card {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--primary-text-color);
background-color: var(--white-color);
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);

}

.subtitle-text {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.basic-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

/*----------FOOTER-----------*/

.footer-title {
   background-color: var(--primary-text-color); 
}

.footer-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
}

.studio-logo-footer {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-background-color);
}

.subtext {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-background-color);
}

/*================PORTFOLIO==============*/
.portfolio-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--third-text-color);
background-color: var(--primary-background-color);
cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
color: var(--white-color);
background-color: var(--accent-color);
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}