:root {
--primary-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
--primary-text-color: #2E2F42;
--secondary-text-color: #434455;
--white-color: #FFFFFF;
--third-text-color: #4D5AE5;
--primary-background-color: #F4F4FD;
--accent-color: #404BBF;   
}

/*----------FONT STYLE-----------*/

body {
color: var(--secondary-text-color);
background-color: var(--white-color);
font-family: var(--primary-font);
}

p, h1, h2, h3, h4, h5, h6 {
margin: 0;
}

ul, ol {
margin: 0;
padding: 0;
}

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;
outline: 2px solid red;
}

img {
display: block;
}

.list {
list-style: none;
}

.link {
text-decoration: none;
}

/*----------LOGO-----------*/

.header {
padding-top: 25.5px;
border-bottom: 1px solid #e7e9fc
}

.header-logo {
display: inline-block;
font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
text-decoration: none;
margin-right: 76px;
}

.studio-logo-header {
display: inline-block;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-text-color);
text-decoration: none;
margin-right: 76px;
}

/*----------HEADER-----------*/

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
}

.header-nav {
display: flex;
align-items: center;
}

.header-list {
display: flex;
align-items: center;
gap: 40px;
}

.header-list:not(:last-child) {
margin-right: 40px;
}

.header-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;   
letter-spacing: 0.02em;
color: var(--primary-text-color);
display: flex;
}

.header-link:hover,
.header-link:focus {
color: var(--accent-color);
}

.heder-address {
font-style: normal;
}

.header-address-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
margin-right: 0px;

}

.header-address-link:hover,
.header-address-link:focus {
color: var(--accent-color);
}

.header-address-list {
display: flex;
}

/*----------HERO-----------*/

.hero {
background-color: var(--primary-text-color);
padding-top: 200px;
padding-bottom: 200px;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--white-color);
width: 496px;
margin-bottom: 48px;
margin: auto;
}

.hero-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--white-color);
background-color: var(--third-text-color);
cursor: pointer;
margin: 0 auto;
padding: 16px 32px;
display: block;
border: 0;
border-radius: 4px;
box-shadow: 0px 4px 4px grba(0,0,0,0.15);

}

.hero-btn:hover,
.hero-btn:focus {
color: var(--white-color);
background-color: var(--accent-color);
}


/*----------SECTION ADVANTAGES-----------*/

.subtitle-text {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.basic-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

/*----------SECTION SERVICES-----------*/

.services-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);
}

/*----------SECTION TEAM-----------*/
.section-team {
background-color: var(--primary-background-color);
}

.our-team-card {
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--primary-text-color);
background-color: var(--white-color);
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-text-color);

}

.subtitle-text {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.basic-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}

/*----------FOOTER-----------*/

.footer-title {
   background-color: var(--primary-text-color); 
}

.footer-logo {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--third-text-color);
}

.studio-logo-footer {
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--primary-background-color);
}

.subtext {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--primary-background-color);
}

/*================PORTFOLIO==============*/
.portfolio-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--third-text-color);
background-color: var(--primary-background-color);
cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
color: var(--white-color);
background-color: var(--accent-color);
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-text-color);
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-text-color);
}